@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
    font-family:'Montserrat',sans-serif ;
}
.services-title{
    font-size:4rem;
    color:black;
    margin-bottom:10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}
.section-title{
    font-size:4rem;
    color:black;
    margin-bottom:10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}
.section-title span{
    color:rgb(49, 135, 106);
}
.services-title span{
    color:rgb(49, 135, 106);
}
p{
    color:black;
    font-size: 1.4rem;
    letter-spacing: 0.06rem;
    font-weight: 300;
    line-height: 2rem;

}

a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
/* Hero Section */
.hero{
    max-width: 1200px;
}
#hero{
   background-image: url(img/th.jpeg); 
   background-size: cover;
   background-position: top center;
   position: relative;
   z-index:1;
}
#hero::after{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: black;
    opacity:0.7;
    z-index:-1;
}
#hero h1{
    display: block;
    width:fit-content;
    font-size: 4rem;
    position: relative;
    color:antiquewhite;

}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color:rgb(70, 209, 70);
    border:2px solid green;
    font-size:2rem;
    letter-spacing: .2rem;
    margin:30px;

}
.cta:hover{
    color:brown;
    background-color: greenyellow;
}
#services .services{
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin:0 auto;
  padding: 100px 20px;
}
#services .services-top p{
    font-size: 1.5rem;
    margin-top: 10px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.06rem;

}
#services .services-bottom{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#services .services-item{
    flex-basis:80%;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
padding: 30px;
border-radius: 10px;
background-image: url(img/img-1.png);
background-size: cover;
margin: 10px 5%;
position:relative;
z-index:1;
overflow: hidden;
    
}
#services .web-item{
    background-image: url(img/web-dev.jpg);
}
#services .android-item{
    background-image: url(img/android.jpg);
}
#services .services-item::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index:-1;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#services .services-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#services .services-item p{
    color: white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;

}
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin:0 auto;
    padding: 100px 20px;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg,#5cdb94 0%, #485563 100%);
    color: white;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 1.8rem;
    margin-top: 10px;
    font-weight: 300;
}
#projects .project-info p{
    color: white;
}
#projects .project-img{
    flex-basis:50%;
    max-height: 300px;
    overflow: hidden;
    min-width: 100%;
    position: relative;
}
#projects .project-img::after{
    content:'';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg,#29323c 0%, #485563 100%);;
    position: absolute;
    opacity: .7;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img
img{
    transform: scale(1.1);
}
#about .about{
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 100px 20px;
}
#about .col-right{
    width: 100%;
}
#about .col-right p{
    font-size: 2rem;
    letter-spacing: .2rem;
    margin-bottom: 20px;
}
#about .col-right .cta{
    margin-bottom: 50px;
    padding: 20px;
    font-size: 2rem;
}
#about .col-left{
    width: 250px;
    height: 350px;
}
#about .col-left .about-img{
    width: 100%;
    height: 100%;
    position: relative;
    border: 10px solid black;
}
#about .col-left .about-img::after{
    content:'';
    position: absolute;
    left:-35px;
    top:20px;
    height:98%;
    width:98%;
    border:10px solid green;
    z-index:-1;
}
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 100%;
}
#contact .contact-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 50px;
    text-align: center;
    margin: 50px;
    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 10px;
}
#contact .contact-item:hover{
    box-shadow: 10px 10px 10px 10px rgb(148, 223, 51);
}
#contact .icon{
    width:70px;
    margin:auto;
    margin-bottom: 15px;
}
#contact .contact-info h1{
font-size: 2.5rem;
font-weight: 500;
margin-bottom: 8px;
}
#contact .contact-info h2{
    font-size: 2rem;
    font-weight: 500;
    
}
#footer{
    background-color: #485563;
}
#footer .footer{
    flex-direction: column;
  
    min-height: 200px;
    padding:50px;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color:antiquewhite;
}
.brand h1 span{
    color:#5cdb94;
}
#footer h3{
    font-size: 2rem;
    font-weight: 300;
    color:wheat;
    margin:20px;
    letter-spacing: .2rem;
}
#footer .social-icon{
    display: flex;
}
#footer .social-icon img{
    width:80%;
    filter: grayscale(1);
}
#footer .social-item:hover img{
    filter:grayscale(0)
}
#footer p{
    color:bisque;
    font-size:1.5rem;
}